# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# MacOS Specifics
*.DS_Store

# Juce Projects
**/Builds/
**/JuceLibraryCode/

# Build Artifacts
*.gz
*.log
*.zip
*.pyc
*.pdf
*.aux
**/release/
**/out/
**/Package/
**/Packaging/
